  <div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Student Details</div> 
                            <ul class="panel-tool-options"> 
                               <!--  <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                       
                        <div class="panel-body"> 
<%#= form_with(model: enquiry, local: true) do |form| %>
  


  <%= form_with model: @student_detail , local: true do |form| %>
  <% if student_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_detail.errors.count, "error") %> prohibited this student_detail from being saved:</h2>

      <ul>
      <% student_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <form class="form-horizontal">
  
   <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Course Applied For</label>
    <%= form.text_field :course_applied_for, id: :student_detail_course_applied_for , class: "form-control" %>
  </div>
</div>
  
    <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">First Name</label>
    <%= form.text_field :first_name, id: :student_detail_first_name , class: "form-control" %>
  </div>
</div>

<!-- <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Middle Name</label>
    <%= form.text_field :middle_name, id: :student_detail_middle_name , class: "form-control" %>
  </div>
</div>
 -->
<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Last Name</label>
    <%= form.text_field :last_name, id: :student_detail_last_name , class: "form-control" %>
  </div>
</div>

 <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Age</label>
    <%= form.text_field :age, id: :student_detail_age , class: "form-control" %>
    </div>
  </div>

 <div class="form-group">
   <div class="col-md-4">
        <label class="col-sm-6 control-label">Birthdate</label>
    <%= form.date_field :birthdate, id: :student_detail_birthdate , class: "form-control" %>
  </div>
</div>

 <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Father's Name</label>
    <%= form.text_field :father_name, id: :student_detail_father_name , class: "form-control" %>
  </div>
</div>

 <div class="form-group">
    <div class="col-md-4">
      <label class="col-sm-6 control-label">Mother's Name</label>
    <%= form.text_field :mother_name, id: :student_detail_mother_name , class: "form-control" %>
  </div>
</div>

 <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Father's Education</label>
    <%= form.text_field :father_education, id: :student_detail_father_education , class: "form-control" %>
  </div>
</div>

 <div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Father's Occupation</label>
    <%= form.text_field :father_occupation, id: :student_detail_father_occupation , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Mother's Education</label>
    <%= form.text_field :mother_education, id: :student_detail_mother_education , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">SSC Marks</label>
    <%= form.text_field :ssc_marks, id: :student_detail_ssc_marks , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">HSC Marks</label>
    <%= form.text_field :hsc_marks, id: :student_detail_hsc_marks , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">PCB %</label>
    <%= form.text_field :pcb, id: :student_detail_pcb , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">PCM %</label>
    <%= form.text_field :pcm, id: :student_detail_pcm , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Address</label>
    <%= form.text_area :address, id: :student_detail_address , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Contact No</label>
    <%= form.text_field :contact_no, id: :student_detail_contact_no , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Email ID</label>
    <%= form.text_field :email, id: :student_detail_email , class: "form-control" %>
  </div>
</div>

<div class="form-group">
        <div class="col-md-4">
        <label class="col-sm-6 control-label">Signature</label>
    <%= form.text_area :signature, id: :student_detail_signature , class: "form-control" %>
  </div>
</div>

   
<div class="form-group"> 
   <div class="col-sm-offset-1 col-sm-10">  
     <%= form.submit "Submit", class: 'btn btn-success' %>
     <%= link_to 'Back', student_details_path, class: 'btn btn-red' %>
   </div>
</div>


  <%#= link_to 'Back' , questions_path , class: :"btn btn-primary" %>

     
     <br><br><br><br><br><br>   <br><br><br>                        
 
<% end %>
</div>
</div>

