<div class="row"> 
                <div class="col-md-12">
                 <br>
                 <br>
                    <div class="panel panel-primary">
                        <div class="panel-heading clearfix"> 
                            <div class="panel-title">Courses</div> 
                            <ul class="panel-tool-options"> 
                                <!-- <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-arrows-ccw"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-chart-pie"></i> Statistics</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="icon-cancel"></i> Clear list</a></li>
                                    </ul>
                                 </li> -->
                                <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                                <!-- <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li> -->
                                <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                            </ul> 
                        </div> 
                        <br>
                        <!-- panel body --> 
                        <div class="panel-body"> 
<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
        <label for="text_input" class="label_height">Course Type Name</label>
           <span style="color:red">*</span>
    <%= form.select :course_type_id,CourseType.all.collect{|a| [a.course_type_name,a.id]}, {prompt:true},id: 'employee_center_id',class: "form-control selectpicker", "data-live-search" => "true"  %>
  </div>

  <div class="col-md-6">
        <label for="text_input" class="label_height">University</label>
           <span style="color:red">*</span>
    <%= form.select :university_id,University.all.collect{|a| [a.university_name,a.id]},{prompt:true},id: 'employee_center_id',class: "form-control selectpicker", "data-live-search" => "true"  %>
  </div>

  <div class="col-md-6">
        <label for="text_input" class="label_height">No of Seats</label>
           <span style="color:red">*</span>
    <%= form.text_field :no_of_seats, id: :course_no_of_seats, placeholder: 'No of Seats', class: 'form-control' %>
  </div>

  <div class="col-md-6">
        <label for="text_input" class="label_height">Fees</label>
           <span style="color:red">*</span>
    <%= form.text_field :fees, id: :course_fees, placeholder: 'Fees', class: 'form-control' %>
    <br><br>
  </div>


<div class="col-md-4">
        <label for="text_input" class="label_height">Status</label>
           <span style="color:red">*</span><br>
  <%= form.radio_button "status", "true", checked: "checked" %> <b>Active</b>
              <%= form.radio_button "status", "false"%> <b>Inactive</b>
              <br><br><br>
 </div>
  <div class="col-sm-4 col-sm-offset-4 input_success">
    <%= form.submit "Submit", class: 'btn btn-success' %>
    <%= link_to 'Back', courses_path , class: 'btn btn-red '%>
  </div>
 
</div>
<% end %>
</div>
</div>
</div>
