<style type="text/css">
  div {
    background-color: white;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

address{
    display: block;
    width: 550px;
    margin:0px;
    text-align: center;
    
   }


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
</style>

<div>
<h3 align="center", style= "font-family: Arial, Helvetica, sans-serif;"><%=@receipt.student.center.center_name%></h3>
<p align="center">Career Guidance Center</p>
<address><%=@receipt.student.center.address%></address>
<p align="center">Mob:<%=@receipt.student.center.contact%></p>
<p align="center">Mail ID:<%=@receipt.student.center.email%></p>
<strong>GST Number:</strong>
   <%= @receipt.gst_no %><br>

<strong>Date of Invoice:</strong>
   <%= @receipt.date %><br>

<strong>Invoice Number:</strong>
<%= @receipt.invoice_number %><br>

<strong>Description of Services:</strong>
<%= @receipt.description_of_services %><br>


<strong>Place of Supply:</strong>
<%= @receipt.place_of_supply %><br>

<strong>Name of Customer:</strong>
   <%= @receipt.received_from %><br>

<strong>Amount:</strong>
   <%= @receipt.amount %><br>


  <table class="table">
   <thead>
                <tr>
                  <th style="font-size: 16px; width: 75px;" colspan="11"><center>Receipt Details</center></th>
                </tr>
           
              <tr>
                <th>Amount Paid</th>
                <th>CGST</th>
              <th>SGST</th>
              
             </tr>
           </thead>
           <tbody>
          <% @receipt.student.pending_payments.each_with_index do |fees| %>
              <tr>
               <td><%= fees.fees_paid%></td>
              <td><%= @receipt.cgst%></td>
              <td><%= @receipt.sgst%></td>

                <%#= link_to 'Destroy', refarence, method: :delete, data: { confirm: 'Are you sure?' } %>
              </tr>
          <% end %>
          </tbody>
        </table>
          <table class="table">
    <thead>

      <tr>
        <th></th>
      </tr>

      <tr>
        <th> 


        <h6>Amount in Words:-   </h6> <h6><%= @receipt.amount.to_i.to_words.split.map(&:capitalize).join(' ')%> Only 

          <h4 align="right">&nbsp;</h4>

          <h6 align="right">FOR VISHWA VIDYA CONSULTANCY PRIVATE LIMITED<br>
          Authorised Signatory
          </h6> <br>
          <h6 align="left">
          Note-Please make cheques in favor of "Vishwa Vidya Consultancy Private Limited"
         </h6>
        </th>
      </tr>

    </thead>
  </table>
</div>

        